<li id="task-{{ task.id }}"><div>
	{{ task.titre }}
	<form method="post" action="{{ path('checklist_remove_task', {'taskId': task.id, 'checklistId': checklist.id}) }}"  id="form-task-{{ task.id }}">
		<button class="dissociate-button" data-task-id="{{ task.id }}" type="submit">Dissocier</button>
	</form>
</div></li>